= link_to "Return to Departments", populates_path
%br
= @department.name

%table
  %thead
    %tr
      %th Course Number
      %th Class Instances
      %th Population
      %th 
  %tbody
    - @department.courses.each do |course|
      %tr
        %td= course.course_number
        %td
          - course.classinstances.each do |classinstance|
            %li= link_to "#{classinstance.class_uid}", classinstance_path(classinstance)
        %td
          - course.classinstances.each do |classinstance|
            %li= classinstance.get_class_population
        %td= link_to "Update", course_path(course), :method => :put

= link_to "Update", department_path(@department), :method => :put
