%table
  %thead
    %tr
      %th Department
      %th Population
  %tbody
    - @departments.each do |department|
      %tr
        %td= link_to "#{department.name}", department_path(department)
        %td= department.get_department_population

= form_tag populate_path, :method => :get do
  = label_tag :query
  = text_field_tag :query
  = submit_tag 'Add Department'

%table
  %thead
    %tr
      %th Day
      %th Time
  %tbody
    - @timeslots.each do |timeslot|
      %tr
        %td= link_to "#{timeslot.day}", timeslot_path(timeslot)
        %td= link_to "#{timeslot.start_time}", timeslot_path(timeslot)
