= link_to "Back to Departments", populate_path
%br
= @timeslot.day
%br
= @timeslot.start_time.strftime("%I:%M%p")
%br
Population
= @timeslot.get_timeslot_population
%br
Buildings
%table
  %thead
    %tr
      %th Building
      %th Population
  %tbody
    - @timeslot.find_buildings.each do |building|
      %tr
        %td= building
        %td= @timeslot.find_building_population(building)
